
<div class = "selected">
<div class = "selected_map">
  <div id="map_canvas"></div>
</div>

<div class="selected_image_container"/>
  <img id = "selected_image" class = "selected_image" src="images/<%= @points[0][2]%>"/>
</div>
